@tailwind base;
@tailwind components;
@tailwind utilities;


/* medias query */

@media screen and (max-width:768px) {
    
    .carros {
        border: 1px solid #ca3a3a;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        width: 100%;      
        gap: 2px;
    }
    .cards{
        width: 120px;
        height: 200px;
    }
    .sombraDescripcion{
        display: flex;
        justify-content: space-around;
        align-items: self-end;
        position: absolute;
        width: 100px;
        height: 200px;
    }
    

.sombraDescripcion:hover{
    z-index: 2;
    position: absolute;
    width: 120px;
    height: 220px;
    background: #ffffff;
    opacity: 1;
}
.sombraDescripcion,.cards p{
    font-size: 12px;
}
.bx-x{
    font-size: 20px;
   width: 20px;
   height: 20px;
}
.verDetallesTexto{
font-size: 14px;
}
.contenedorIcon{
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    height: 10px;
}
/* contenedor2 */
.contenedor2{
    /* border: 1px solid #707070; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
background: #fff;
}
.ducati-contenedor2{
    width: 50%;
    border: 1px solid #000;
}
.card_contenedor2 p{
    font-size: 12px;
}
.tarjetas-card2{
    background: #12c00c;
    /* width: 100%; */
}
.tarjeta{
    width: 100px;
}
.contenedorCardsSmall {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2px;
}


.buy img{
    width: 50px;
}
.inicioFooter {
    display: flex;
    flex-direction: column;
    border: 1px solid #bae912;
  }
  .cardSmall {
    width: 160px;
    height: 60px;
}
.img_small{
    width: 60px;
    /* height: 100%; */
    background: rgb(213, 212, 212);
}
}